<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetTricker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetTricker.Properties.Settings>
            <setting name="wifi" serializeAs="String">
                <value>Renhy_mobile</value>
            </setting>
            <setting name="wifi_key" serializeAs="String">
                <value>18157141199</value>
            </setting>
            <setting name="wifi_proxy" serializeAs="String">
                <value>IToIP</value>
            </setting>
            <setting name="wifi_proxy_key" serializeAs="String">
                <value>h3c-wlan</value>
            </setting>
            <setting name="gradle_home" serializeAs="String">
                <value>C:\Users\r14676\.gradle\</value>
            </setting>
            <setting name="maven_home" serializeAs="String">
                <value>C:\Users\r14676\.m2\</value>
            </setting>
            <setting name="lan_config" serializeAs="String">
                <value>proxy02.h3c.com:8080</value>
            </setting>
            <setting name="wifi_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gradle_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="maven_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lan_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hide_delay" serializeAs="String">
                <value>2000</value>
            </setting>
        </NetTricker.Properties.Settings>
    </userSettings>
</configuration>